{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>SYM Movies</h1>

    <h2> Mes films rien qu'à moi :</h2>
    {% if favoris is defined and favoris != null %}
        {% for item in favoris %}
            <h3>{{ item.film.titre }}</h3>
            <ul>
                <li>{{ item.film.genre }}</li>
                <li>{{ item.film.dateSortie ? item.film.dateSortie|date('d/m/Y') : 'Date inconnue' }}</li>
            </ul>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
